body{
    margin:0px;

}
.main{
    height: 100vh;
    width: 100vw;

}

.sidebar{
    width:33vw;
    float:left;
    height:100vh;
    background-color:orange;
}


  
  /* Clear floats after the columns */
  .view {
    width:67vw;
    float:left;
    height:100vh;
    background-color:blueviolet;
    text-align: center;
    line-height: 100vh;
  }

  .sidebar-item{
      height: 33vh;
      text-align: center;
      line-height: 33vh;
      box-sizing: border-box;
      
  }

  .sidebar-item:hover{
      background-color:goldenrod;
      border:3px dotted tomato;

  }
