body{
    margin:0px;
}
.container{
   
    height: 100vh;
    line-height: 100vh;
    text-align: center;
  
}
.component{
    display: inline-block;
    width:200px;
    height: 200px;
    background-color: greenyellow;
    text-align: center;
    line-height: 200px;
}
