body{
    margin:0px;
}
.app {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 80vh 20vh;
    grid-template-columns: 80vw 10vw 10vw;
    grid-template-areas: 
    "messages users users"
    "text text send"
    ;
    background-color: #2196F3;
   
  }
  
.user-list{
    grid-area:users;
    background: blueviolet;

}

.messages{
    grid-area:messages;
    background-color: crimson;
}
.text{
    grid-area: text;
    background-color:brown;
}
.send{
    grid-area:send;
}
.send button{
    width:100%;
    height: 100%;
    background-color:green;
}
