.menu-bar {
    overflow: hidden;
    background-color:gold;
    position: fixed;
    height: 50px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  
  .menu-item {
      display: inline-block;
    
   
    color: #f2f2f2;
    text-align: center;
    height: 50px;
    width: 100px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 50px;
    
    
  }
  
  .menu-item:hover {
    background: red;
    color: black;
  }
  
  .content {
      position:relative;
      top:50px;
    font-size:100px;
    
  }

  body{
      margin:0;
  }